/* CSS declarations go here */
header {
  margin: 30px 0;
}

h4 {
	color: #666;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #29b6f6;
     box-shadow: 0 1px 0 0 #29b6f6;
}

.input-field input[type=email]:focus {
     border-bottom: 1px solid #29b6f6;
     box-shadow: 0 1px 0 0 #29b6f6;
}

.input-field input[type=number]:focus {
     border-bottom: 1px solid #29b6f6;
     box-shadow: 0 1px 0 0 #29b6f6;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

.gwlogo {
	margin-top: 20px;
}